@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');
/* resets */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;
}
body{
    font-family: 'Poppins', sans-serif;
    color:var(--primary-text-color);

}
h1{
    font-size: 3rem;
}
h2{
    font-size:2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    color:var(--secondary-text-color);
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.25rem;
    line-height: 1.8rem;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}

/* utility-classes */

.small-bold-text{
    font-size: 0.85rem;
    font-weight: 600;
}
.container{
    max-width:1180px;
    margin-inline: auto;
    padding-inline:var(--padding-inline-section);
}
.flex{
    display:flex;
    align-items: center;
}
.hover-link{
    color:var(--secondary-text-color);
    transition: 0.2s ease-out;
}
.hover-link:hover{
    color:var(--accent-color);
}
.primary-button{
    background-color:var(--accent-color);
    border-radius: 6px;
    padding:12px 24px;
    color:#fff !important;
    font-weight: 650;
    box-shadow: 0 0 2px var(--accent-color);
    transition: 0.2s ease-out;
}
.primary-button:hover{
    background-color: var(--accent-color-dark);
}
.secondary-button{
    color:var(--primary-text-color) ;
    font-weight:650;
    border:0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    padding:12px 24px;
    transition: 0.2s ease-out;
}
.secondary-button:hover{
    color:var(--accent-color);
    border-color: var(--accent-color);
}


/* top-banner*/
.top-banner{
    background-image: url('./assets/asset\ 32.png');
    background-color:#e74694;
    background-size: 300px;


}
.banner-text{
    color:#ffff;
    padding:15px 30px;
    text-align: center;
    
}
/* nav bar */
.company-logo img{
    width:200px;
}
.nav-bar{
    margin-top:20px;
    justify-content: space-between;
}
.nav-links{
    flex-basis: 730px;
}
.nav-links ul{
    justify-content: end;
    gap:40px;
}
/* header section */
header{
    padding:50px var(--padding-inline-section) 0;
}
.header-section{
    gap:20px;
    justify-content: center;
}
.header-left{
    max-width: 40vw;
    /* text-align: justify; */
} 
.header-left h1{
    margin: 20px 0px;
}

.header-right img{
    width:600px;
}
.get-started{
    margin-top: 20px;

}
/* companies section */
.companies-section p{
    text-align: center;
    margin-block:100px 30px ;
}
.logos{
    flex-wrap: wrap;
    justify-content: space-between;
}
.logo{
    height: 46px;
}

/* features section */
.features-section{
    margin-top: 50px;
    padding-block:100px 75px;
    background-image: url(./assets/asset\ 34.svg);
    background-repeat: no-repeat;
    background-position: center;
    
    background-size: 50%;
}
.feature-section-header{
    text-align: center;
}
.features-area{
    flex-wrap: wrap;
    justify-content: space-between;
}
.features-card{
    flex-direction: column;
    gap:20px;
    text-align: center;
    width:30%;
    margin-top: 30px;
    
}
/* big feature section */
.big-feature-section{
    padding:20px var(--padding-inline-section) 0px;
}
.big-feature-container{
    gap:30px;
    /* justify-content: flex-start; */
}
.feature-img img{
    width:90%;
}
.feature-desc{
    flex-direction: column;
    align-items: flex-start;
}
/* example-section */
.example-area{
    justify-content: space-between;
    margin-top: 20px;
}
.example-content{
    text-align:center;
    margin-top: 50px;
}
.example-card{
     width:23.5%;
     position:relative;
     min-height:320px ;
     background-image: linear-gradient(to top left,rgb(0,0,0,0.8),rgb(0,0,0,0.1)),url(./assets/asset\ 36.jpeg);
     background-size: cover;
     border-radius: 2px;
     transition: 0.2s ease-out;
}
.example-card:hover{
    box-shadow: 0 0 10px #888;
}
.card-text{
    color: #ffff;
    font-size: larger;
     position:absolute;
     bottom:20px;
     right:10px;
     left:10px;
}
.example-card:nth-child(2){
    background-image: linear-gradient(to top left,rgb(0,0,0,0.8),rgb(0,0,0,0.1)),url(./assets/asset\ 37.jpeg);
}
.example-card:nth-child(3){
    background-image: linear-gradient(to top left,rgb(0,0,0,0.8),rgb(0,0,0,0.1)),url(./assets/asset\ 38.jpeg);
    background-size: cover;
}
.example-card:nth-child(4){
    background-image: linear-gradient(to top left,rgb(0,0,0,0.8),rgb(0,0,0,0.1)),url(./assets/asset\ 39.jpeg);
    background-size: cover;
}
/*cta section*/
.cta-section{
    background-color:var(--primary-text-color);
}

.cta-container{
    margin-top: 50px;
    padding-block: 120px;
    color:#fff;
    flex-direction: column;
    gap:40px;
}
/* footer section */
footer{
    padding:80px;
    background-color: #ebf2fa;
}
.footer-container{
    align-items: flex-start;
    justify-content: space-between;
    
}
.footer-links{
    flex-direction: column;
    gap:5px;
    align-items: flex-start;
}
/* sub footer */
.subfooter{
      background-color: #b9cde4;
}
.subfooter-container{
    padding:var(--padding-inline-section);
    justify-content: center;
    gap:20px;
}
.footer-icons{
    padding-inline: 50px;
    gap:30px;
    
}
.footer-icons img{
    width:15px;
         
}























